
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-3d.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="~/Scripts/Charts/AgeDebtor.js"></script>
<script src="~/Scripts/Charts/Status.js"></script>
<script src="~/Scripts/Charts/SubStatus.js"></script>
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <div id="ageDebt" style="width:300px;"></div>
    </div>
    <div class="col-md-4">
        <div id="status" style="width:300px;"></div>
    </div>
    <div class="col-md-4" style="width:300px;">
        <div id="subStatus"></div>
    </div>
</div>

