
@{
    ViewBag.Title = "Index";
}

<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-editbutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Export to PDF / Excel</h2>

    </header>
 
    <div>

        <div class="jarviswidget-editbox">

        </div>    
        <div class="widget-body no-padding">
            @*@(Html.Kendo().Grid().Name("TransactionGrid"))*@

          

        </div>

    </div>

</div>







